.WeatherDay{
    background-color: rgb(255, 255, 255);
    width: 62%;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

/* dubaongay.jsx */
.dubaongay{
    background-color: rgb(216, 244, 244);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
}
.name{
    background-color: #ffffff;
    border-radius: 15px;
    width: 60%;
    gap: 4%;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
}
.name p{
    font-size: 25px;
    padding-top: 15px;
}
.name h3{
    font-size: 50px;
}

.name p, .name h3{
    margin: 0;
}

.chitiet{
    background-color: #ffffff;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
}
.hiddenIcon{
    visibility: hidden;
}
.cttop{
    gap: 5%;
}
.topicon{
    display: flex;
    align-items: center;
    width: 30%;
}
.ctbody{
    gap: 2.5%;
}

.list p, .list span{
    margin: 0;
}
.ttct{
    width: 50%;
}

@media (max-width:640px){
    .WeatherDay{
        width: 80%;
    }
    .hour {
        display: flex;
        gap: 12px;               /* Khoảng cách giữa các item */
        overflow-x: auto;        /* Cho phép cuộn ngang khi tràn */
        white-space: nowrap;     /* Ngăn item bị xuống dòng */
        padding-bottom: 8px;     /* Để tránh thanh cuộn đè lên nội dung */
        scrollbar-width: thin;   /* Firefox */
    }

    /* Optional: đẹp hơn cho scrollbar */
    .hour::-webkit-scrollbar {
        height: 6px;
    }
    .hour::-webkit-scrollbar-thumb {
        background-color: rgba(100, 100, 100, 0.4);
        border-radius: 4px;
    }

    /* dự báo ngày */
    .dubaongay{
        
    }
    .name{
        width: 80%;
        gap: 30px;
    }
    .chitiet{
        width: 80%;
    }
    .mota{
        display: none;
    }
    .ctbody{
        flex-direction: column;
    }
    .ctbody div{
        width: 100%;
    }
    .cttop{
        flex-direction: column;
    }
    .cttop div{
        width: 100%;
    }
}

